@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  background-color: #014e56;
}

main {
  flex-grow: 1;
}

img {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  padding: 9px 33px 11px 32px;
  border-radius: 24px;
  transition: 0.3s;
}

.btn:active {
  opacity: 0.6;
}

.btn-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-white:hover {
  background-color: #ffffff;
  color: #002509;
}

.btn-dark {
  color: #002529;
  border-color: #002529;
}

.orange-text {
  color: #f67e7e;
}
.blue-text {
  color: #79c8c7;
}

.divider {
  height: 4px;
  width: 50px;
}
.blue-divider {
  background-color: #79c8c7;
}
.orange-divider {
  background-color: #f67e7e;
}

/* header start */
.header {
  padding-top: 73px;
  padding-bottom: 73px;
}
.header-container {
  display: flex;
  align-items: center;
}

.site-logo {
  color: #ffffff;
  margin-right: 80px;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: auto;
}
.sitenav-list {
  display: flex;
  gap: 40px;
}

.sitenav-link {
  color: #ffffff;
  transition: 0.3s;
}
.sitenav-link:hover {
  color: #f67e7e;
}

/* header end */

/* hero start */

.hero {
  padding-top: 56px;
  padding-bottom: 250px;
  color: #ffffff;
  background-image: url("../images/hero-bg-left.svg"),
    url("../images/hero-bg-right-bottom.svg");
  background-repeat: no-repeat;
  background-position: left -100px top 50px, right 165px bottom -100px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-divider {
  margin-bottom: 79px;
}

.hero-title {
  font-size: 100px;
  line-height: 100px;
  width: 535px;
}

.hero-description {
  width: 100%;
  max-width: 445px;
}

.hero-description-text {
  font-size: 18px;
  line-height: 28px;
}
/* hero end */

/* service start  */

.div-service {
  display: flex;
  padding-bottom: 140px;
}
.service {
  background-color: #012f34;
  background-image: url("../images/box-top\ -right.svg");
  background-repeat: no-repeat;
  background-position: right -100px bottom;
}

.service-container {
  display: flex;
  padding-top: 140px;
  padding-bottom: 14px;
}

.service-title {
  color: #ffffff;
  font-size: 48px;
  line-height: 48px;
  width: 445px;
  height: 144px;
  padding-right: 125px;
}

.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.service-item {
  display: flex;
  gap: 23px;
}

.service-item-title {
  color: #f67e7e;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
}

.service-description {
  color: #ffffff;
}
/* service end */
/* STORIES START */
.stories {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("../images/bg-pattern-home-4-about-3.svg"),
    url("../images/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  color: #ffffff;
}

.stories-container {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.stories-title {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  width: 100%;
  min-width: 932px;
  margin-right: auto;
  margin-left: auto;
}

.stories-list-wrapper {
}
.stories-list {
  display: flex;
  text-align: center;
}
.stories-item {
  display: flex;
  flex-direction: column;
  background-image: url("../images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 36px;
}
.stories-description {
  margin-bottom: 24px;
}
.stories-item-content {
  margin-bottom: 32px;
}
.stories-owner-name {
  font-size: 18px;
}
.stories-owner-job {
  font-weight: 500;
  font-size: 13px;
}
.stories-owner-image {
  align-self: center;
  border-radius: 50%;
  border: 2px solid #c4fffe;
}
/* STORIES END */

/* CTA START */
.cta {
  background-color: #f67e7e;
  padding-bottom: 76px;
  padding-top: 76px;
  background-image: url("../images/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #012f34;
  width: 100%;
  max-width: 917px;
}

.cta-title {
  font-size: 48px;
}

/* CTA END */

/* FOOTER START */
.foter {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #002529;
  color: #ffffff;
}
.footer-container {
  display: flex;
}
.container {
}
.footer-nav {
  margin-right: 125px;
}
.footer-nav .site-logo {
  margin-bottom: 25px;
}
.footer-info {
  margin-right: auto;
}

.footer-info address {
  opacity: 0.6;
  font-style: normal;
}
.footer-tel {
  color: inherit;
}
.footer-terms-and-links {
}
.footer-links {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
}
.footer-links-item {
}
.footer-links-link {
  margin-bottom: 51px;
}
.footer-terms {
  opacity: 0.6;
}

.footer-links-link:hover svg path {
  fill: #f67e7e;
}
/* FOOTER END */
