@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

main {
  flex-grow: 1;
}

img {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1210;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  padding: 9px 33px 11px 32px;
  border-radius: 24px;
  transition: 0.3s;
}

.btn:active {
  opacity: 0.6;
}

.btn-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-white:hover {
  background-color: #ffffff;
  color: #002509;
}

.btn-dark {
  color: #002529;
  border-color: #002529;
}

/* header start */
.header {
  background-color: #014e56;
  padding-top: 73px;
  padding-bottom: 73px;
}
.header-container {
  display: flex;
  align-items: center;
}

.site-logo {
  color: #ffffff;
  margin-right: 80px;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: auto;
}
.sitenav-list {
  display: flex;
  gap: 40px;
}

.sitenav-link {
  color: #ffffff;
  transition: 0.3s;
}
.sitenav-link:hover {
  color: #f67e7e;
}

/* header end */
